.bigInput {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2.8rem;
  background-color: #e6e6e6;
  color: #000;
  font-weight: 500;
  height: 3.5rem;
}

.changeFontSize {
  font-size: 1.8rem;
  align-items: center;
}
